.header{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    background-color: rgb(221, 212, 212);
}
.nav{
    font-size: large;
    font-weight: bold;
}
.container-main{
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.article{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-basis: 1250px;
    padding: 25px 20px;
    background-color: rgb(241, 241, 215);
}
.item {
    display: flex;
    justify-content: center; 
    font-size: large;
    font-weight: bold;
}
.item-block {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    
}
.item1{
    font-size: large;
    font-weight: bold;
    padding: 70px;
    min-width: 460px;
    background-color: rgb(219, 211, 168);
}
.item2{
    font-size: large;
    font-weight: bold;
    padding: 70px;
    min-width: 460px;
    background-color: rgb(219, 211, 168);
}
.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 70px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(219, 211, 168);
}
.aside{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-basis: 570px;
    padding: 25px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(205, 223, 202);
}
.container-footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 40px;
    background-color: rgb(221, 212, 212);
}
.foo {
    padding: 40px;
    font-size: large;
    font-weight: bold;
    background-color: white;
}