.header{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    background-color: rgb(221, 212, 212);
}
.nav{
    font-size: large;
    font-weight: bold;
}
.container-main{
    display: flex;
    justify-content: space-between;
}
.article{
    display: flex;
    padding: 160px 630px;
    background-color: rgb(241, 241, 215);
}
.aside{
    display: flex;
    padding: 160px;;
    background-color: rgb(191, 233, 195);
}